h1 {
    color: #0066ff;
}

.company-info {
    background-color: #f0f0f0;
    padding: 10px;
	position: relative;
    left: 20px;
    top: 10px;
}

.stock-details {
    background-color: lightcyan;
		position: fixed;
		padding: 10px;
        right: 10px;
        bottom: 10px
}

.stock-details .current-price p {
    color: green;
}

.stock-details .price-change p {
    color: red;
    position: sticky;
}

body {
    margin: 0;
    padding: 20px;
    height: 2000px; /* To enable scrolling */
}